SUPABASE_HOST=aws-1-ap-northeast-2.pooler.supabase.com
SUPABASE_USER=postgres.<project-ref>
SUPABASE_DB_PASSWORD=

SUPABASE_STORAGE_ENDPOINT=https://<project-ref>.supabase.co/storage/v1/s3
SUPABASE_STORAGE_PUBLIC_URL=https://<project-ref>.supabase.co/storage/v1
SUPABASE_ACCESS_KEY=
SUPABASE_SECRET_KEY=

JWT_SECRET=
OPENAI_API_KEY=
